.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    max-height: 50px;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);

    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
         background-color: var(--color-activ-btn);
    }
}

.btn__icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: currentColor;
}

@media screen and (min-width:1200px) {
.btn{
    width: 216px;
}
    
}

.filter-list__btn {
    // min-width: 73px;
    // padding: 6px 22px;

    // font-weight: 500;
    // font-size: 16px;
    // line-height: 1.63;
    // letter-spacing: 0.03em;

    // border: none;
    // border-radius: 4px;
    // cursor: pointer;

    // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    // background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    // box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &:hover,
     &:focus {
        //  color: var(--white-color);
        //  background-color: var(--accent-color);
        //  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}