.footer {
    background-color: var(--bcg-footer);
    padding: 60px 15px;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    @media screen and (min-width:1199px) {
    flex-wrap: nowrap;
    gap: 70px;
    align-items: baseline;
    }
}

.footer-wrap__contact{    
    @media screen and (min-width:768px) {
        flex-basis: calc(50% - 30px);
    }

}
@media screen and (max-width:1199px) {
    .footer-wrap__contact{
        text-align: center;
    } 
}

.address__list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

 @media screen and (min-width:1200px) {
    .address__list{
            gap: 9px;
        }
 }

.footer-wrap__socials{
    @media screen and (max-width:1199px) {
text-align: center;
    }
    
    @media screen and (min-width:768px) {
    display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        flex-basis: calc(50% - 30px);
    }
}

.address__link {
    display: block;
    min-width: 230px;

    font-style: normal;
    line-height: 1.71;
    color: var(--color-transparency);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 &--white {
     color: var(--white-color);
}

 &:hover,
 &:focus {
    color: var(--accent-color);
}
}

.footer-wrap__title {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white-color);
}
.footer-wrap-form{
    @media screen and (max-width:1199px) {
            text-align: center;
        }
        width: 100%;
}

.form-field {
    display: flex;
    gap: 12px;
    @media screen and (max-width:1199px) {
       flex-direction: column;
       align-items: center;
       gap: 20px;        
    }

 &__label {
    display: block;
    width: 100%;
    // max-width: 358px;
    
}

 &__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 450px;

    padding: 16px;
    color: var(--white-color);
    background-color: transparent;

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    outline: none;

    &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--color-transparency);
}
}
}