.footer {
    background-color: var(--bcg-footer);
    padding: 60px 15px;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 60px;

@media screen and (max-width:767px) {
flex-direction: column;
align-items: center;
flex-wrap: wrap;
text-align: center;
}

@media screen and (min-width:1200px) {
    gap: 70px;
}
}
.footer-wrap:last-child {
    // margin-left: 23px;
}

.address__list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

 @media screen and (min-width:1200px) {
    .address__list{
            gap: 9px;
        }
 }

.address__link {
    display: inline-block;
    min-width: 230px;

    font-style: normal;
    line-height: 1.71;
    color: var(--color-transparency);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 &--white {
     color: var(--white-color);
}

 &:hover,
 &:focus {
    color: var(--accent-color);
}
}

.footer-wrap__title {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white-color);
}

.form-field {
    display: flex;
    gap: 12px;
    @media screen and (max-width:1199px) {
       flex-direction: column;
       align-items: center;
       gap: 20px;        
    }

 &__label {
    display: block;
    max-width: 358px;
    width: 100%;
}

 &__input {
    display: block;
    min-width: 358px;
    width: 100%;

    padding: 16px;
    color: var(--white-color);
    background-color: transparent;

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    outline: none;


    &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--color-transparency);
}
}
}