.costomer-el__link {
    display: flex;
    justify-content: center;
    min-width: 170px;
    padding: 15px 0;

    border: 1px solid var(--color-costomer);
    border-radius: 4px;
    color: var(--color-costomer);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}
}

.costomer-el__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}
@media screen and (max-width:767px) {
.costomer-el__link{
    min-width: 210px;
}
}
@media screen and (max-width:1199px) {
    .costomer-el__link {
        min-width: 226px;
    }
}