.section-gallery{
    padding-top: 0;
    display: none;
}

.gallery-item {
    position: relative;

 &__text{
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 27px 5px;

    font-weight: 700;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--color-gradient);
 }
}
 @media screen and (min-width:1200px) {
    .section-gallery{
        display: block;
    }
 }