
.preference-item {
    text-align: left;
    width: 100%;
    max-width: 450px;
    align-items: center;

    @media screen and (min-width:768px) {
       flex-basis: calc(100% - 30px) / 2;
       max-width: 354px;
    }
    @media screen and (min-width:1200px) {
        flex-basis: calc(100% - 90px) / 4;
        max-width: 270px;
    }
}

.preference-img {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    background-color: var(--color-section);
}

.preference-icon {
    width: 70px;
    height: 70px;
}

.preference-title {
    margin-bottom: 10px;
    font-size: 14px;
    
    @media screen and (max-width:767px) {
        text-align: center;
    }
}

.preference-text {
    line-height: 1.71;
    color: var(--text-color);
}