:root {
    --main-color-text: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --text-logo: #000000;
    --bcg-footer: #2F303A;
    --color-transparency: rgba(255, 255, 255, 0.6);
    --color-section: #F5F4FA;
    --color-header-bottom: #ECECEC;
    --color-border-portfolio: #EEEEEE;
    --color-activ-btn: #188CE8;
    --color-gradient: rgba(47, 48, 58, 0.4);
    --color-costomer: #AFB1B8;
    --font-main: Roboto, sans-serif;
    --font-logo: Raleway, sans-serif;
}


